/* ese 1 */
.ex-1-square {
    transition: 2s;
}
.ex-1-square:hover {
    background: red;
}
/* ese 2 */
.ex-2-square {
    transition: 2s;
}
.ex-2-square:active {
    width: 100%;
}
/* ese 3 */
.ex-3-square {
    transition: 1s;
}
.ex-3-square:hover {
    border-radius: 100%;
}
/* ese 4 */
.ex-4-square {
    transition: 1s;
}
.ex-4-square:hover {
    opacity: 0;
}
/* ese 5 */
.ex-5-square {
    transition: 1s;
}
/* ese 6 */
/* ese 7 */
/* ese 8 */
/* ese 9 */
/* ese 10 */
/* ese 11 */
/* ese 12 */
/* ese 13 */